<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<% end %>
<% provide(:title, 'Kontakt') %>
<% provide(:description, 'Kontakt Club Novus') %>
<% content_for :breadcrumps do %>
  <li class="active">Kontakt</li>
<% end %>

<!-- Google Map -->
<div class="row-fluid">
    <div id="map" class="map margin-bottom-40">
    </div><!---/map-->
</div>
<!-- End Google Map -->
    <div class="row-fluid">
        <div class="span9">
            <div class="headline"><h3>Kontaktformular</h3></div>
            <p>Hvis du har spørgsmål eller ønsker yderligere information, så er du velkommen til at henvende dig via mail eller vores kontaktformular forneden.</p><br />
            <p>Vi ser frem til at høre fra dig.</p>
            
            <%= form_tag send_message_path do %> 
                <%= label_tag :name, "Navn" %>
                <%= text_field_tag :name, nil, class: "span7 border-radius-none", placeholder: "Indtast navn", required: "required" %>
                <%= label_tag :email, "Email" %>
                <%= text_field_tag :email, "", placeholder: "Indtast email", type: "email", class: "span7 border-radius-none", required: "required"   %>
                <%= label_tag :message, "Besked" %>
                <%= text_area_tag :message, "", rows: "8", class: "contact_form span10", placeholder: "Indtast besked", required: "required", maxlength: "500" %>
                <p><%= button_tag "Send besked", type: "submit", class: "btn-u" %></p>
            <% end %>
        </div><!--/span9-->
        
        <div class="span3">
            <!-- Contacts -->
            <div class="headline"><h3>Kontakt os</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="#"><i class="icon-home"></i>Klostervangen 34, DK-3360, Danmark</a></li>
                <li><a href="#"><i class="icon-envelope-alt"></i>michel@clubnovus.dk</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>+45 2460 0819</a></li>
                <li><a href="#"><i class="icon-globe"></i>http://www.clubnovus.dk</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h3>Åbningstider</h3></div>
            <ul class="unstyled">
                <li><strong>Mandag-Fredag:</strong> 08:30 => 16:30</li>
            </ul>
        </div><!--/span3-->
    </div><!--/row-fluid-->
<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Contact.initMap();
    });

    jQuery(function($) {
        $("#contact_form").validate();
        $('textarea.contact_form').inputlimiter({
            limit: 500,
            lineReturnCount: 2,
            remText: '%n tegn tilbage...',
            limitText: 'maks tilladt: %n.'
        });
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>

