<% provide(:title, 'Medlemmer') %>
<% provide(:description, 'Liste over aktive medlemmer') %>
<% content_for :breadcrumps do %>
  <li class="active">Medlemmer</li>
<% end %>
<h3 class="header blue lighter smaller">
	<i class="icon-user bigger-110"></i>
	Medlemmer
</h3>
<%= will_paginate @subscribers, class:"pagination"%>
	<div class="row-fluid">
		<div class="span12">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Navn</th>
						<th>Telefon</th>
						<th>Postnummer</th>
						<th>By</th>
						<th>Medlem fra</th>
						<th>Mere info</th>
						<th>Handling</th>
					</tr>
				</thead>
				<tbody>
				<% @subscribers.each do |subscriber| %>
				<tr>
					<td> <%= empty_attribute_info( subscriber.member.name ) %></td>
					<td> <%= empty_attribute_info( subscriber.member.phone ) %></td>
					<td> <%= empty_attribute_info( subscriber.member.postal_code ) %></td>
					<td> <%= empty_attribute_info( subscriber.member.city ) %></td>
					<td> <%= subscriber.start_date.present? ? I18n.l( subscriber.start_date ) : empty_attribute_info( subscriber.start_date ) %> </td>
					<td> 
						<a href=<%= "#member-#{subscriber.member.id}" %> data-toggle="modal" role="button" class="green">
						 	<button class="btn btn-info btn-small">
								Mere info
							</button>
						</a>
					</td>

					<td>
						<%= link_to prepare_single_message_merchant_subscriber_path(subscriber)  do %>
							<button class="btn btn-small btn-info">
								<i class="icon-pencil bigger-110"></i>
								Send besked
							</button>
						<% end %>
						<%= link_to [:merchant, subscriber], method: :delete, data: { confirm: t(:warning_deletion_mechant, :scope => [:business_validations, :subscriber])} do %>
							<button class="btn btn-small btn-danger">
								<i class="icon-trash bigger-110"></i>
								Slet medlem
							</button>
						<% end %>
					</td>
					<!-- /.modal user data Start -->
					<div id=<%= "member-#{subscriber.member.id}" %> class="modal hide fade" tabindex="-1" style="display: none;" aria-hidden="true">
						<div class="modal-header no-padding">
							<div class="table-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
									Medlemsinfo
							</div>
						</div>
						<div class="profile-user-info profile-user-info-striped">
							<div class="profile-info-row">
								<div class="profile-info-name"> Navn </div>
								<div class="profile-info-value"> <%= empty_attribute_info( subscriber.member.name ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Email </div>
								<div class="profile-info-value"> <%= empty_attribute_info( subscriber.member.user.try(:email) ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Telefon </div>
								<div class="profile-info-value"> <%= empty_attribute_info( subscriber.member.phone ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Postnummer </div>
								<div class="profile-info-value"> <%= empty_attribute_info( subscriber.member.postal_code ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> By </div>
								<div class="profile-info-value"> <%= empty_attribute_info( subscriber.member.city ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Køn </div>
								<div class="profile-info-value"> <%= gender_danish( subscriber.member.gender ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Fødselsdag </div>
								<div class="profile-info-value"><%= subscriber.member.birthday.present? ? I18n.l( subscriber.member.birthday ) : empty_attribute_info( subscriber.member.birthday ) %> </div>
							</div>
							<div class="profile-info-row">
								<div class="profile-info-name"> Medlem fra </div>
								<div class="profile-info-value"> <%= subscriber.start_date.present? ? I18n.l( subscriber.start_date ) : empty_attribute_info( subscriber.start_date ) %> </div>
							</div>
						</div><!-- /.profile container End -->
					</div><!-- /. modal user data End -->
				<% end %>
				</tbody>
			</table>
           <%= link_to new_merchant_merchant_member_path do %>
            	<button class="btn btn-primary">
            		<i class="icon-user bigger-110"></i>
            		Opret medlem
            	</button>
            <% end %>
		</div><!-- /.span12 -->
	</div><!-- /.row-fluid -->
	<%= render :partial => 'tooltip_index' %>
	



