  <div class="row-fluid">
    <%= form_for @member, :url => update_sms_profile_path(@member), html: { class: "reg-page", style: "max-width: 50%"} do |f| %>
      <%= render :partial => "/shared/error_messages", :locals => { :obj => @member } %>
      <div class="controls">
        <div class="row-fluid">
          <div class="span6">
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, placeholder: "Fornavn" %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, placeholder: "Efternavn" %>
            </div>
            <div class="field">
              <%= f.label :phone, readonly: true %>
              <%= f.text_field :phone, placeholder: "Mobil" %>
            </div>
            <div class="field">
              <%= f.label :postal_code %>
              <%= f.text_field :postal_code, placeholder: "Postnummer" %>
            </div>
             <div class="field">
              <%= f.label :city %>
              <%= f.text_field :city, readonly: true %>
            </div>
            <div class="field">
              <%= f.label :terms_of_service, class: "checkbox" do %>
                <%= f.check_box :terms_of_service %>
                Jeg har læst og accepteret  
                <%= link_to "Salgs & Leveringsbetingelser", terms_conditions_path, :target => "_blank", style: "text-decoration: underline" %>
              <% end %>
            </div>   
          </div><!-- /.span6 -->
          <div class="span6">
            <div class="field">
              <%= f.label :gender %>
              <%= f.select(:gender,[ ['Mand', 'M'], ['Kvinde', 'W'] ],  { include_blank: true } ) %>
            </div>
            <div class="field">
              <%= f.label :birthday %>
              <%= f.text_field :birthday, class: "datepicker", placeholder: "Fødselsdag (dato/måned/år)"%>
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <%= f.fields_for :user do |t| %>
              <div class="field">
                <%= t.label :email %>
                <%= t.text_field :email, placeholder: "Email" %>
              </div>
              <div class="field">
                <%= t.label :password %>
                <%= t.password_field :password, placeholder: "Password" %>
              </div>
              <div class="field">
                <%= t.label :password_confirmation %>
                <%= t.password_field :password_confirmation, placeholder: "Gentag password" %>
              </div>
            <% end %>
          </div><!-- /.span6 -->
        </div><!-- /.controls-->
     </div><!-- /.inside row-fluid end-->
      <div class="row-fluid">
        <div class="controls form-inline" style="margin-top:20px">
          <% if f.object.new_record? %> 
            <div style="text-align:center;">
              <%= button_tag class: "btn-u btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                Opret medlem
              <% end %>
            </div>
          <% else %> 
             <div style="text-align:center;">
              <%= button_tag class: "btn-u btn-primary" do %>
                <i class="icon-ok bigger-110"></i>
                Gem
              <% end %>
            </div>
          <% end %>
        </div><!-- /.controls form-inline -->
      </div><!-- /.row-fluid -->
    <% end %><!-- /.end form -->
<div><!-- /.row-fluid -->


 