<% provide(:title, 'Rediger brugerprofil') %>
<% provide(:description, 'Rediger dine brugeroplysninger') %>
<% content_for :breadcrumps do %>
    <li>Medlemmer<span class="divider">/</span></li>
    <li class="active">Rediger brugerprofil</li>
<% end %>

<%= form_for @member, as: :member, :url => member_user_path(@member) do |f| %>
  <% if @member.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @member.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday %>
  </div>
  <%= f.fields_for :user do |t| %>
    <div class="field">
      <%= t.label :email %>
      <%= t.text_field :email %>
    </div>
    <div class="field">
      <%= t.label :password %>
      <%= t.password_field :password %>
    </div>
    <div class="field">
      <%= t.label :password_confirmation %>
      <%= t.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit %></div>
<% end %>

<%= link_to 'Tilbage', root_path %>

<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>