<% provide(:title, 'Brugerprofil') %>
<% provide(:description, 'Din brugerprofil') %>
<% content_for :breadcrumps do %>
    <li>Medlemmer<span class="divider">/</span></li>
    <li class="active">Brugerprofil</li>
<% end %>

<div class="row-fluid">
  <div class="span5">
    <div class="profile-user-info profile-user-info-striped">
      
      <div class="profile-info-row">
        <div class="profile-info-name"> Navn </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="title"> <%= @member_user.name %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Telefon </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_from"> <%= @member_user.phone %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Email </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= @member_user.user.try(:email) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Postnummer </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= @member_user.postal_code %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> By </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= @member_user.city %> test</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Køn </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= gender( @member_user.gender ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Fødselsdag </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= I18n.l( @member_user.birthday ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Oprettet </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="created_at"> <%= I18n.l( @member_user.created_at ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Senest opdateret </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="updated_at"> <%= I18n.l( @member_user.updated_at ) %> </span>
        </div>
      </div>
    </div><!-- /.profile-user-info -->
  </div><!-- /.span5 -->
</div><!-- /.row-fluid -->
<div class="row-fluid">
  <div class="span5" style="text-align:center;margin-top:10px">
    <%= link_to edit_member_user_path(@member_user) do %>
        <button class="btn-u btn-primary btn-u-blue">
          <i class="icon-edit bigger-110"></i>
            Rediger
        </button>
      <% end %>
      <%= link_to member_user_path(@member_user), method: :delete, data: { confirm: t(:warning_deletion_member, :scope => [:business_validations,  :frontend, :member_user] ) } do %>
        <button class="btn-u btn-u-blue btn-small btn-danger">
          <i class="icon-trash bigger-110"></i>
            Slet profil
        </button>
      <% end %>
  </div><!-- /.span5 -->
</div><!-- /.row-fluid -->

<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>