<% provide(:title, 'Sms kampagner') %>
<%= will_paginate @active_campaigns, class:"paging_bootstrap pagination"%>

<div class="span11">
  <table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Titel</th> 
        <th>Kampagne-kode</th>               
        <th>Afsendelse</th>
        <th>Status</th>
        <th>Omkostninger</th>
        <th>Handling</th>
      </tr>
    </thead>
    <tbody>
       <%= render partial: 'campaign', collection: @active_campaigns, as: :campaign  %>      
    </tbody>
  </table>
</div> 

<%= link_to "Opret ny sms kampagne", new_merchant_campaign_path, 
                                class: "btn btn-medium btn-primary" %>

<div class="hr hr-18 dotted hr-double"></div>


<h2>Afsluttede sms kampagner</h2>

<%= will_paginate @completed_campaigns, class:"paging_bootstrap pagination"%>

<div class="span11">
  <table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Titel</th> 
        <th>Kampagne-kode</th>                
        <th>Afsendelse</th>
        <th>Status</th>
        <th>Omkostninger</th>
        <th>Handling</th>
      </tr>
    </thead>
    <tbody>
       <%= render partial: 'campaign', collection: @completed_campaigns, as: :campaign %>      
    </tbody>
  </table>
</div> 
