<% provide(:title, 'Overblik over kundeklub') %>
<% provide(:description, 'Overblik og statistik') %>
<% content_for :breadcrumps do %>
  <li class="active">Overblik og statistik</li>
<% end %>
<h3 class="header blue lighter smaller">
  <i class="icon-dashboard bigger-110"></i>
  Overblik og statistik
</h3>
<div class="row-fluid">
  <div class="span10 infobox-container">
    <div class="infobox infobox-green">
        <div class="infobox-icon">
          <i class="icon-user"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> <%= @active_subscribers_count %> </span>
          <div class="infobox-content"> <%= t('misc.members_active', :count => @active_subscribers_count ) %> </div>
      </div>
    </div>
    <div class="infobox infobox-blue">
      <div class="infobox-icon">
        <i class="icon-money"></i>
      </div>
      <div class="infobox-data">
        <span class="infobox-data-number"> <%= @active_offers %> </span>
        <div class="infobox-content"> <%= t('misc.offers', :count => @active_offers ) %> </div>
      </div>
    </div>
    <div class="infobox infobox-orange">
      <div class="infobox-icon">
        <i class="icon-bullhorn"></i>
      </div>
      <div class="infobox-data">
        <span class="infobox-data-number"> <%= @scheduled_campaigns %>  </span>
        <div class="infobox-content"> <%= t('misc.campaigns_scheduled', :count => @scheduled_campaigns ) %> </div>
      </div>
    </div>
  </div> 
</div><!-- /.row-fluid -->
<div class="row-fluid">
  <div class="span10 infobox-container">
    <div class="infobox infobox-blue">
      <div class="infobox-icon">
        <i class="icon-envelope"></i>
      </div>
      <div class="infobox-data">
        <span class="infobox-data-number"> <%= @total_sms_messages %> </span>
        <div class="infobox-content"> <%= t('misc.total_sms_messages', :count => @total_sms_messages ) %> </div>
      </div>
    </div>
    <div class="infobox infobox-orange2">
      <div class="infobox-icon">
        <i class="icon-bullhorn"></i>
      </div>
      <div class="infobox-data">
        <span class="infobox-data-number"> <%= @completed_campaigns %> </span>
        <div class="infobox-content"> <%= t('misc.campaigns_finished', :count => @completed_campaigns ) %> </div>
      </div>
    </div>
    <div class="infobox infobox-red">
      <div class="infobox-icon">
        <i class="icon-user"></i>
      </div>
      <div class="infobox-data">
        <span class="infobox-data-number"> <%= @opt_outs_total %> </span>
        <div class="infobox-content"> <%= t('misc.members_inactive', :count => @opt_outs_total ) %> </div>
      </div>
    </div>
 </div><!-- /.infobox container -->
</div><!-- /.row-fluid -->

<div class="row-fluid">
  <div class="span10">
    <h3 class="header blue lighter smaller">
      <i class="icon-user bigger-110"></i>
      Tilmelding og afmelding (seneste 14 dage)
    </h3>
    <%= content_tag :div, "", id: "subscribers_recent", style: "width: 100%;", data: { subscribers: @recent_subscriber_data } %>
 </div><!-- /.span12 -->
</div><!-- /.row-fluid -->

<div class="row-fluid">
  <div class="span12">
    <h3 class="header blue lighter smaller">
      <i class="icon-user bigger-110"></i>
      Tilmelding og afmelding (seneste 3 mdr.)
    </h3>
    <%= content_tag :div, "", id: "subscribers_bar", style: "width: 100%;", data: { subscribers: @months_subscriber_data } %>
 </div><!-- /.span12 -->
</div><!-- /.row-fluid -->

<div class="row-fluid">
  <div class="span7">
    <h3 class="header blue lighter smaller">
      <i class="icon-user bigger-110"></i>
      Aktivitetsfeed
    </h3>
    <div class="widget-box">
      <div class="widget-body">
        <div class="widget-main no-padding">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Tidspunkt</th>
                <th>Beskrivelse</th>
              </tr>
            </thead>
            <tbody>
              <% @merchant_store.event_histories.order("created_at DESC").limit(15).each do |event| %>
                <tr>
                  <td><%= event.event_type %></td>
                  <td><%= I18n.l( event.created_at )  %></td>
                  <td><%= event.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
 </div><!-- /.span12 -->
</div><!-- /.row-fluid -->










