<%= form_for [:merchant, @merchant_store], html: { class: "form-inline"} do |f| %>
  <div class="control-group">
    <%= f.label :store_name, class: "control-label" %>
    <div class="controls">                  
      <%= f.text_field :store_name%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :owner %>
    </div>                 
  </div>
  <div class="control-group">
    <%= f.label :description, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_area :description %>
    </div>                 
  </div>

  <div class="control-group">
    <%= f.label :store_picture %>
      <div class="form_controls">
        <div class="upload_button_holder">
          <%= link_to("Upload", "#", :class => "upload_button") %>
          <%= f.cl_image_upload(:store_picture) %>
        </div>
        <span class="status"></span>
      </div>
  </div>
    <div class="form_line">
      <div class="form_controls">
        <div class="preview"></div>
      </div>
    </div>

  <div class="hr"></div>
  <div class="control-group">
    <%= f.label :street, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :street %>
    </div>                 
  </div>
  <div class="control-group">
    <%= f.label :house_number, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :house_number %>
    </div>                 
  </div>
  <div class="control-group">
    <%= f.label :postal_code, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :postal_code %>
    </div>                 
  </div>
  <div class="control-group">
    <%= f.label :city, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :city %>
    </div>                 
  </div>
  <div class="control-group">
    <%= f.label :phone, class: "control-label" %>                  
    <div class="controls">
      <%= f.text_field :phone %>
    </div>                 
  </div>
  <div class="hr"></div>
  <div class="control-group">
    <%= f.label :sms_keyword, class: "control-label" %>  
    <div class="controls">
      <%= f.text_field :sms_keyword, readonly: "true" %>
    </div>
  </div>

  <h4>Åbningstider</h4>
  <%= f.fields_for :business_hours do |f| %>
    <fieldset>
      <%= f.label :day %><br />
      <%= f.select(:day, [['Mandag', 1], ['Tirsdag', 2], ['Onsdag', 3], ['Torsdag', 4], ['Fredag', 5], ['Lørdag', 6], ['Søndag', 7]]) %>
      <%= f.label :open_time %><br />
      <%= f.time_select :open_time %><br /> 
      <%= f.label :close_time %><br />
      <%= f.time_select :close_time %><br />   
    </fieldset>
  <% end %>

  <div class="controls form-inline">                    
    <%= button_tag type: "submit", class: "btn btn-info" do %> 
    <i class="icon-ok bigger-110"> Gem oplysninger </i>
    <%= f.hidden_field :store_picture_size %>
    <% end %>
  </div>

  <% end %>



  
  



  