<h1>Dine favoritbutikker</h1>
<%= will_paginate @favorite_stores, class:"paging_bootstrap pagination"%>
<div class="span11">
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Ejer</th>
                <th>Gade</th>
                <th>Husnummer</th>
                <th>Postnummer</th>
                <th>By</th>
                <th>Medlem fra</th>
                <th>Se detaljer</th>
            </tr>
        </thead>
        <tbody>
            <% @favorite_stores.each do |favorite_store| %>
            <tr>
                <td><%= favorite_store.merchant_store.store_name %></td>
                <td><%= favorite_store.merchant_store.owner %></td>
                <td><%= favorite_store.merchant_store.street %></td>
                <td><%= favorite_store.merchant_store.house_number %></td>
                <td><%= favorite_store.merchant_store.postal_code %></td>
                <td><%= favorite_store.merchant_store.city %></td>
                <td><%= favorite_store.start_date %></td>
                <td><%= link_to "Klik for detaljer", display_store_path(favorite_store.merchant_store_id) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
