<% provide(:title, h(@merchant_store.store_name) ) %>
<% provide(:description, 'Præsentationsside for ' + h(@merchant_store.store_name) ) %>
<% content_for :breadcrumps do %>
  <li class="active"><%= h(@merchant_store.store_name) %></li>
<% end %>
<div class="row-fluid margin-bottom-10">
  <div class="span4">
    <% if !@merchant_store.image.picture.blank? %>
      <%= cl_image_tag(@merchant_store.image.try(:picture), :width => 400, :height => 400, :crop => :fit, class: "img-rounded") %>
    <% else %>
      "Fotografen er på vej"
    <% end %>
  </div><!-- /.span4 -->

  <div class="span6">
    <div class="headline">
      <h4 class="pull-left" style="white-space: nowrap;margin-bottom:10px"><%= h(@merchant_store.store_name) %></h4>
      <div class="fb-like" data-href="<%= display_store_url(@merchant_store)%>" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    <p><%= simple_format( h(@merchant_store.description) )%></p>
  </div><!-- /.span6 -->
  
  <div class="span2">
    <h4>Medlemskab</h4>
    <% if member_user? && logged_in? %>
      <% if @subscribed %>
        <div id="membership">
          <%= render :partial => "/member_subscribers/unsubscribe", :locals => { :merchant_store => @merchant_store } %>
        </div>
        <p>Medlem siden: <%= I18n.l( @subscriber.start_date ) %></p>
    <% else %>
        <div id="membership">
          <%= render :partial => "/member_subscribers/subscribe", :locals => { :merchant_store => @merchant_store } %>
        </div>
    <% end %>
  <% else %>
    <p>Nyt medlem?</p>
    <%= link_to new_member_path do %>
        <button class="btn-u btn-primary btn-u-blue">
          Bliv medlem
        </button>
    <% end %>
  <% end %>
  </div><!-- /.span2 -->
</div><!-- /.row-fluid -->

<div class="row-fluid margin-bottom-10">

  <div class="span4 who">
      <div class="headline">
        <h4>Kontaktinfo</h4>
      </div>
      <ul class="unstyled">
        <li><i class="icon-home"></i><%= h(@merchant_store.map_address) %></li>
        <li><i class="icon-envelope-alt"></i><%= @merchant_store.email %></li>
        <li><i class="icon-phone-sign"></i><%= h(@merchant_store.phone) %></li>
      </ul>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=16&markers=#{@merchant_store.latitude}%2C#{@merchant_store.longitude}" %>
  </div><!-- /.span4 -->

  <div class="span6">
      <div class="headline">
        <h4 style="margin-bottom:10px">Åbningstider</h4>
      </div>
      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Mandag</th>
            <th>Tirsdag</th>
            <th>Onsdag</th>
            <th>Torsdag</th>
            <th>Fredag</th>
            <th>Lørdag</th>
            <th>Søndag</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:center">
            <% @merchant_store.business_hours.order("day ASC").each do |business_hour| %>
              <td> <%= h(business_hour.opening_hour) %> </td>
            <% end %>
          </tr>
        </tbody>
    </table>
  </div><!-- /.span6 -->
</div><!-- /.row-fluid -->

<div class="row-fluid margin-bottom-20">
  <div class="span10">
    <div class="headline">
        <h4 style="margin-bottom:10px">Aktuelle tilbud</h4>
    </div>
  </div>
</div><!-- /.row-fluid -->

<% @merchant_store.offers.active.order("valid_to DESC").each do |offer| %>
    <div class="row-fluid" style="margin-bottom:50px">
        <div class="span3">
          <% if !offer.image.blank? %>
            <%= cl_image_tag(offer.image.try(:picture), :width => 300, :height => 300, :crop => :fit, class: "img-rounded") %>
          <% else %>
            <%= image_tag("standard_offer_picture.png") %>
           <% end %>
        </div><!-- /.span4 -->

        <div class="span6">
          <div class="headline" style="margin-top:0px">
            <h4><%= h(offer.title) %></h4>
          </div>
          <p><%= simple_format( h(offer.description) ) %></p>
        </div><!-- /.span6 -->

        <div class="span2" style="text-align:right;">
          <p><small>Gyldig fra: </small><b><%= I18n.l( offer.valid_from ) %></b></p>
          <p><small>Gyldig til: </small><b><%= I18n.l( offer.valid_to ) %></b></p> 
        </div><!-- /.span2 -->
    </div><!-- /.row-fluid -->
<% end %>

<div id="fb-root"></div>
<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
    
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>
