 <div class="span6">
   <%= render :partial => "/merchant/shared/error_messages", :locals => { :obj => @offer } %>
      <%= form_for [:merchant, @offer], html: { class: "horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :title, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :title, placeholder: "Overskrift" %>&nbsp;&nbsp;
            <%= tooltip("Indtast en fængende overskrift til tilbuddet", "Overskrift") %>
          </div>
        </div>
        <div class="control-group">
          <div class="input-append date">
            <%= f.label :valid_from, class: "control-label" %>
            <%= f.text_field :valid_from, class: "datepicker", placeholder: "Gyldig fra"%> &nbsp;&nbsp;
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= tooltip("Angiv dato for hvornår tilbuddet starter", "Gyldig fra") %>
          </div>          
        </div>
        <div class="control-group">
          <div class="input-append date">
            <%= f.label :valid_to, class: "control-label" %>
            <%= f.text_field :valid_to, class: "datepicker", placeholder: "Gyldig til"%> &nbsp;&nbsp;
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= tooltip("Angiv dato for hvornår tilbuddet slutter", "Gyldig til") %>
          </div>          
        </div>
        <div class="control-group">
          <%= f.label :description, class: "control-label" %>
          <div class="controls">
            <%= f.text_area :description, class: "offer", style:"width:400px", maxlength: "255", rows: "6", 
                placeholder: "Beskrivelse af tilbud" %>&nbsp;&nbsp;
            <%= tooltip("Beskriv hvad tilbuddet indeholder samt betingelser for indløsning", "Beskrivelse af tilbud") %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= button_tag class: "btn btn-primary" do %>
              <i class="icon-ok bigger-110"></i>
              Gem
            <% end %>
          </div>
        </div>
</div><!-- /.span6 -->
<div class="span6 align-center">
  <div class="control-group">
    <% if !@offer.image.picture.blank? %>
      <label class="control-label">Billede</label>
      <div id="picture_container">
        <%= cl_image_tag(@offer.image.picture, :width => 200, :height => 200, :crop => :fit, class: "img-rounded") %>
      </div>
    <% else %>
    <div id="picture_container">
      <div class="ace-file-input ace-file-multiple">
        <label class="file-label" data-title="Intet billede">
          <span class="file-name" data-title="Upload billede forneden">
            <i class="icon-picture"></i>
          </span>
        </label><a class="remove" href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <% end %>

      <div class="form_controls" style="margin-top:10px">
        <div class="upload_button_holder">
          <div class="ace-file-input">
            <label class="file-label" data-title="Vælg">
              <span class="file-name" data-title="Upload nyt billede..."> 
                <%= f.fields_for :image do |image| %> 
                    <%= image.cl_image_upload(:picture, tags: current_merchant_store.sms_keyword) %>
                    <%= image.hidden_field :size %>
                    <%= image.hidden_field :picture_cache %>
                  <% end %>
                <i class="icon-upload-alt"></i>
              </span>
            </label>
          </div>
        </div>
        <div id="status_section" class="easy-pie-chart percentage easyPieChart" data-percent="0" data-color="#87CEEB" style="width: 75px; height: 75px; line-height: 75px; color: rgb(135, 206, 235);">
          <span class="percent"></span>%
          <canvas width="75" height="75"></canvas>
        </div>
      </div>
    </div>
  <% end %>
  </div><!-- /.span6 -->