<% provide(:title, 'Stamdata for butik') %>
<% provide(:description, 'Stamdata for butikken og kundeklubben') %>
<% content_for :breadcrumps do %>
  <li>
    Tilbud
    <span class="divider">
      <i class="icon-angle-right arrow-icon"></i>
    </span>
  </li>
  <li class="active">Tilbudsdetaljer</li>
<% end %>
<h3 class="header blue lighter smaller">
  <i class="icon-leaf bigger-110"></i>
  Tilbudsdetaljer
</h3>
<div class="row-fluid">
  <div class="span5">
    <div class="profile-user-info profile-user-info-striped">
      
      <div class="profile-info-row">
        <div class="profile-info-name"> Titel </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="title"> <%= @offer.title %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Gyldig fra </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_from"> <%= I18n.l( @offer.valid_from ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Gyldig til </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="valid_to"> <%= I18n.l( @offer.valid_to ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Oprettet </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="created_at"> <%= I18n.l( @offer.created_at ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Senest opdateret </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="updated_at"> <%= I18n.l( @offer.updated_at ) %> </span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Beskrivelse </div>
        <div class="profile-info-value">
          <span class="editable editable-click" id="description"> <%= simple_format( @offer.description ) %> </span>
        </div>
      </div>
    </div><!-- /.profile-user-info -->
  </div><!-- /.span5 -->
  <div class="span7 align-center">
    <label class="control-label">Præsentationsbillede</label>
   <%= cl_image_tag(@offer.image.try(:picture), :width => 200, :height => 200, :crop => :fit, class: "img-rounded") %> 
  </div><!-- /.span7 -->
  <div class="row-fluid">
    <div class="span11">
      <hr>
      <%= link_to :back, class: "btn btn-primary btn-small" do %>
        <i class="icon-arrow-left bigger-110"></i>
        Tilbage
      <% end %>
  
      <%= link_to edit_merchant_offer_path(@offer), class: "btn btn-primary btn-small" do %>
        <i class="icon-edit bigger-110"></i>
        Rediger
      <% end %>
      <%= link_to [:merchant, @offer], 
                   method: :delete, data: { confirm: t(:warning_deletion_offer, :scope => [:business_validations, :offer]) } do %>
        <button class="btn btn-small btn-danger">
          <i class="icon-trash bigger-110"></i>
          Slet tilbud
        </button>
      <% end %>
    </div><!-- /.span11 -->
  </div><!-- /.row-fluid -->
</div><!-- /.row-fluid -->

<%= render :partial => 'tooltip_new_edit' %>
