<% provide(:title, 'Rediger velkomstpræmie') %>
<% provide(:description, 'Rediger velkomstpræmie for nye medlemmer') %>
<% content_for :breadcrumps do %>
  <li class="active">Rediger velkomstgave</li>
<% end %>
<h3 class="header blue lighter smaller">
  <i class="icon-gift bigger-110"></i>
  Rediger velkomstgave
</h3>
<div class="row-fluid">
  <div class="span5">
    <%= render :partial => "/merchant/shared/error_messages", :locals => { :obj => @welcome_offer } %>
    <%= form_for [:merchant, @welcome_offer], html: { class: "horizontal"} do |f| %>
      <div class="control-group">
        <%= f.label :description, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :description, class: "limited preview", style:"width:400px", maxlength: "#{@message_limit}", rows: "6", placeholder: "Beskrivelse af velkomstgave" %>&nbsp;&nbsp;
          <%= tooltip("Lav kortfattet beskrivelse da præmien sendes med sms (max. #{@message_limit} tegn)", "Beskrivelse af velkomstgave") %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.label :active, class: "ace" do %>
            <%= f.check_box :active %>
            <span class="lbl"><%= WelcomeOffer.human_attribute_name( :active ) %></span>
            <%= tooltip("Velkomstgaven er obligatorisk for alle kundeklubber. Eventuel deaktivering skal være midlertidig", "Aktiv") %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= button_tag class: "submission btn btn-primary" do %>
            <i class="icon-edit bigger-110"></i>
            Opdater velkomstgave
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to merchant_welcome_offer_path(current_merchant_store.welcome_offer), class: "btn btn-primary btn-small" do %>
      <i class="icon-arrow-left bigger-110"></i>
      Tilbage
    <% end %>
  </div><!-- /.span5 -->
  <div class="span5">
    <div id="live-preview-display" class="widget-box">
      <div class="widget-header widget-header-flat">
        <h4 class="smaller">Preview af sms-besked</h4>
      </div>
      <div class="widget-body"> 
        <div id="sms_text" class="widget-main"></div>
      </div>
    </div><!-- /.widget-box -->
  </div><!-- /.span5 -->
</div><!-- /.row-fluid -->

<%= render :partial => 'tooltip_new' %>
<%= tag("span", :data => {store_regards: current_merchant_store.store_regards}, style: "display:none", id:"store_regards") %>

<% content_for :scripts do %>
  <script type="text/javascript">
      $(document).ready(function() {
        var regards_section = $( "#store_regards").data("store-regards");
        char_limit = parseInt(160 - regards_section.length);
        
        $('#live-preview-display').hide();
        $('textarea.preview').bind('blur keyup',function() {
          var display_container = $('#live-preview-display')
          if ('display_container:hidden'){
            display_container.show();
          }
          var commentNode = $('#sms_text');
          var text = $('textarea.preview').val() + regards_section
          //comment
          commentNode.text(text);
          commentNode.html($('#sms_text').html().replace(/\n/g,'<br />'));
        });
      });
      jQuery(function($) {
          $('[data-rel=tooltip]').tooltip({container:'body'});
          $('[data-rel=popover]').popover({container:'body'});
          
          $('textarea.limited').inputlimiter({
          limit: char_limit,
          lineReturnCount: 2,
          remText: '%n tegn tilbage...',
          limitText: 'maks tilladt: %n.'
          });

          $("form").on("submit", function () {
            $(this).find(".submission").prop("disabled", true);
          });
      });
  </script>
<% end %>
