<!--=== Top ===-->    
<div class="top">
    <div class="container">
      <!-- Logo -->
        <div class="logo" style="top:-10px;">
          <%= link_to root_path do %>
            <%= image_tag("novus_logo.jpg") %>
          <% end %>
          <%= image_tag("beta_version.png") %>
        </div><!-- /logo -->
      
     <ul class="loginbar pull-right"> 
        <% if current_member_user.present? && logged_in? %>
          <li><i class="icon-user"></i> Logget ind som <%= current_member_user.name %>
              <ul class="nav-list">
                  <li> <%= link_to "Log ud", shared_logout_member_path %></li>
              </ul>
          </li> 
        <% else %>
          <li class="devider">&nbsp;</li>
          <li>           
            <%= link_to "Login for medlemmer", shared_login_member_path, class: "login-btn" %>
          </li>       
          <li class="devider">&nbsp;</li> 
          <li>           
            <%= link_to "Nyt medlem?", new_member_path, class: "login-btn" %>
          </li> 
          <li class="devider">&nbsp;</li>    
        <% end %>  
      </ul>
    </div><!--/container-->      
</div><!--/top-->
<!--=== End Top ===-->    