<!--=== Header ===-->
<div class="header">               
    <div class="container">         
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li <%= currentMenuItem('root#home', controller.controller_name, controller.action_name) %>>
                         <%= link_to "Hjem", root_path %> 
                        </li>
                        <li <%= currentMenuItem('root#merchant_info', controller.controller_name, controller.action_name) %>>
                            <%= link_to "For butikker", merchant_info_path %>                               
                        </li>
                        <li>
                            <a href="http://blog.clubnovus.dk" target="_new">Blog</a>                               
                        </li>
                        <li <%= currentMenuItem('root#contact', controller.controller_name, controller.action_name) %>>
                            <%= link_to "Kontakt", contact_path %>                                                
                        </li> 
                        <% if member_user? && logged_in? %>
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Din Profil
                                    <b class="caret"></b>                            
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <%= link_to member_user_path(current_member_user) do %>
                                            <i class="icon-user"></i>
                                            Brugerprofil
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= link_to favorites_path(current_member_user) do %>
                                            <i class="icon-star"></i>
                                            Favoritter
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= link_to shared_logout_member_path do %>
                                            <i class="icon-off"></i>
                                            Log ud
                                        <% end %>
                                    </li>
                                </ul>
                                <b class="caret-out"></b>                        
                            </li>
                        <% end %>                      
                    </ul><!--nav ul End -->                   
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->