<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= yield(:title)%></title>
    <!-- Load generic styles and scripts for merchant admin portal -->
    <%= stylesheet_link_tag    "merchant/merchant_styles", media: "all" %>
    <%= javascript_include_tag "merchant/merchant_scripts" %>
    <!-- Load page specific styles and scripts - common ressources reside in utility folder -->
    <%= javascript_include_tag params[:controller] %> 
    <%= stylesheet_link_tag params[:controller] %>
    <!-- Runtime config data for file upload functionality -->
    <%= cloudinary_js_config %>
    <%= csrf_meta_tags %>
    <meta name="description" content=<%= yield(:description)%> />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="skin-4 navbar-fixed breadcrumbs-fixed"> <!-- Start body-->
    <%= render 'layouts/merchant_header' %>
    <div class="main-container container-fluid">
       <%= render 'layouts/merchant_sidebar_menu' %>
        <div class="main-content">
          <%= render 'layouts/merchant_breadcrumps' %>
          <div class="page-content">
            <div class="row-fluid">
              <div class="span12">
                <!-- PAGE CONTENT BEGINS -->
                   <%= yield %>
                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.span -->
            </div><!-- /.row-fluid -->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    
  </body><!--Body Ends -->
</html>










