<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

      <div class="masthead">
        <h3 class="muted">Project name</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li ><a href="#">Home</a></li>
                <li class="active"><a href="#">DashBoard</a></li>
                <li><%= link_to "Medlemmer", merchant_subscribers_path %></li>
                <li><a href="#">SMS kampagne</a></li>
                <li><%= link_to "Tilbud", merchant_offers_path %></li>
                <li><a href="#">Indstillinger</a></li>
                <li><%= link_to "Velkomsttilbud", merchant_welcome_offer_path(current_merchant_store.welcome_offer) %></li>
                <li><%= link_to "Sms kampagner", merchant_campaigns_path %></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <div class="span9">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", shared_logout_path %>
      <% else %>
        <%= link_to "Sign up", shared_signup_path %> or
        <%= link_to "log in", shared_login_path %>.
      <% end %>
      </div>
      <br />
      <div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>

      <div class="span9">
        <%= yield %>
      </div>
</div><!-- /container -->
<div class="footer">
        <p>&copy; Company 2013</p>
      </div>
</body>
</html>
