<% provide(:title, 'Tilmelding') %>
<h1>Opret nyt medlem - butik</h1>

<%= form_for [:merchant, @member], :url => merchant_merchant_members_path do |f| %>
  <% if @member.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @member.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<%= link_to 'Tilbage', merchant_subscribers_path %>